@model ImageCloudMVC.Models.Folders.FolderListViewModel

@{
    ViewBag.Title = "Subfolder";
    var url = Url.RequestContext.RouteData.Values["id"];

}

<h2>Subfolder</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = url })
    @Html.ActionLink("Create New File", "Create", "Files", new { id = url }, null)
</p>

@using (Html.BeginForm("Upload", "Files", new { id = url } , FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div id="multiple">
        <input type="file" class="multiple" name="files" multiple />
    </div>
    <button class="btn btn-default">Upload</button>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountOfFiles)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Folders)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountOfFiles)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Subfolder", "Subfolder", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>

<table class="table">
    @foreach (var item in Model.Files)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfUpload)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resolution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Files", new { id = item.Id }, null) |
                @Html.ActionLink("Details", "Details", "Files", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "Files", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
